<!-- CONFIGURATION  -->
<script type="text/javascript">
    // API URL for your MEP
    var lc2pUrl = '{settings.lc2pUrl}';

    // Number of meetings to display on a table page
    var lc2pShowStart = '{settings.lc2pShowStart}';

    // Display column for start date?
    var lc2pShowEnd = '{settings.lc2pShowEnd}';

    // Display column for first name? '1' : yes, else don't
    var lc2pShowFirstName = '{settings.lc2pShowFirstName}';

    // Display column for last name? '1' : yes, else don't
    var lc2pShowLastName = '{settings.lc2pShowLastName}';

    // Display column for title? '1' : yes, else don't
    var lc2pShowTitle = '{settings.lc2pShowTitle}';

    // Display column for partner? '1' : yes, else don't
    var lc2pShowPartner = '{settings.lc2pShowPartner}';

    // Display column for tags? '1' : yes, else don't
    var lc2pShowTags = '{settings.lc2pShowTags}';

    // Display tags with title? '1' : yes, else don't
    var lc2pShowTagsTitle = '{settings.lc2pShowTagsTitle}';

    // entries per page
    var lc2pPerPage = '{settings.lc2pPerPage}';

    // Date Format String
    var lc2pDateFormat = '{settings.lc2pDateFormat}';
    // Default Ordering
    var lc2pOrder = '{settings.lc2pOrder}';

</script>

<table id="lobbycal" aria-describedby="lobbycal_info">
    <thead>
    <tr>
        <th>Start</th>
        <th>End</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Partners</th>
        <th>Title</th>
        <th>Tags</th>
    </tr>
    </thead>
</table>